<!DOCTYPE html>
<html>
  <head>
    <title>Verification System</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet" />
  </head>
  <body>
    <div class="content">
      <div class="container">
        <div class="title"><p>歡迎光臨，請輸入帳號密碼</p></div>
        <div class="form-group">登入系統</div>
        <div class="form-group"><label>帳號</label><input type="text" id="username"/></div>
        <div class="form-group">
          <label>密碼</label><input type="password" id="password"/>
        </div>
        <div class="form-group">
          <label>同意條款</label>
          <input type="checkbox" id="agreement"/>
        </div>
        <div class="form-group">
          <button type="submit" onclick="submitLogin()">登入</button>
        </div>
      </div>
      <div class="container">
        <div class="form-group">計算正整數的平方</div>
        <div class="form-group"><label>正整數</label><input type="text" id="number"/></div>
        <div class="form-group">
            <button type="submit" onclick="calc_square()">計算</button>
          </div>
      </div>
    </div>
    <script>
        function submitLogin() {
            const username = document.querySelector("#username").value;
            const password = document.querySelector("#password").value;
            const agreement = document.querySelector("#agreement");
            if (!agreement.checked) {
                return alert("請先勾選同意條款");
            }
            const formData = new FormData();
            formData.append("username", username);
            formData.append("password", password);
            fetch("http://127.0.0.1:8000/signin", {method:"POST", body:formData, redirect:"follow"})
            .then(
                res => {
                if (res.redirected) {
                       window.location.href = res.url;  
                       return;
                    } 
                    else
                       return res.text();  
                    }  
                )
        }

        function calc_square () {
                const number = document.querySelector("#number").value;
                if (Math.floor(number) == number && number > 0){
                    window.location.href = `/square/${number}`
                } else {
                    alert("請輸入一個正整數");
                }
        }
    </script>
  </body>
</html>
